.navbarAbout {
  position: relative;
  max-height: 134px;

  .navigation {
    height: 134px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5082) 6.16%,
      rgba(0, 0, 0, 0) 150.34%
    );

    > div {
      width: 1100px;
      display: flex;
      justify-content: space-between;

      .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 auto;
        text-decoration: none;

        p {
          margin: 0;
          color: white;
          font-size: large;

          font-weight: 300;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */

          text-align: left;
          letter-spacing: 0.005em;
        }

        .name {
          font-weight: 300;
          font-size: 32px;
          line-height: 39px;
          text-align: center;
          letter-spacing: 0.105em;
        }

        &:hover {
          p {
            color: rgb(255, 255, 255, 0.7);
          }
        }
      }

      .links {
        flex: 1 1 auto;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 30px;

        a {
          text-decoration: none;
          color: white;
          font-size: 24px;
          line-height: 34px;
          text-align: center;
          letter-spacing: 0.005em;

          &:hover {
            color: rgb(255, 255, 255, 0.7);
          }
        }
        .linkActive {
          background-color: rgb(221, 221, 221, 0.1);
          border-radius: 4px;
          padding: 6px;
        }
        .btnActive {
          background-color: white;
          color: rgb(37, 94, 139);
          border-color: #255e8b;

          &:hover {
            color: rgb(37, 94, 139, 0.7);
          }
        }
      }
    }
  }

  img {
    position: absolute;
    width: 100vw;
    height: 134px;
    z-index: -1;
    object-fit: cover;
  }
}
