.blueButton {
  background-color: #255e8b;
  padding: 10px 40px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  letter-spacing: 1.3px;
  border: 1px solid #255e8b;
  border-radius: 10px;
}

.blueButton:active {
  border: aliceblue;
}
.blueButton:hover {
  background-color: #276391;
  opacity: 0.9;
}
.blueButton:disabled {
  background-color: #276391;
  opacity: 0.9;
  border: none;
  cursor: default;
}
